<div class="alert alert-info"><b> Customers that have joined this website</b></div>
<h1 align='center'> Customers </h1>
<div align="center">
	<%= will_paginate %>
</div>
<%= render 'customer' %>
<div align="center">
	<%= will_paginate %>
</div>
