<div class="alert alert-info"><b>Please!!</b> Fill this Form to be able to sign in</div>
<!-- <div class="alert alert-info"><strong>Success!</strong> You should <a href="#" class="alert-link">read this message</a></div> -->

<h1 align="center">Register</h1>
<%= render 'form' %>
