<%= render 'shared/errors', object: @order %>

<div class ='row'>
    <%= form_for(@order, :html => {class: "form-horizontal", role: "form"}) do |f| %>

    <div class="form-group">

        <h3>Payment method</h3>

        <%= f.select :paymethod, Order::METHODS, class: "form-control" %></br></br>

        <%= f.submit class: 'btn btn-primary'%>
      </div>
    <% end %>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
