<!--hide alerts-->
<script>
$(document).ready(function(){
  $('div.alert').delay(2000).fadeOut(1000);
});
</script>

<div class="jumbotron">
<h1> Welcome to DIT Amazon Electronic Online shopping </h1>
</div>

  <br><br><br><br>
    <div class="homecontainer">
      	<div id="homecarousel">
        <figure><a href="https://www.amazon.com/electronics-store/b?ie=UTF8&node=172282" target="_blank" ><img src="http://static.hotukdeals.com/images/threads/high-res/1510646_1.jpg" height="120" width="175" alt=""></a></figure>
        <figure><a href="http://www.ebay.ie/sch/Computers-Tablets-Networking/58058/bn_1838792/i.html?_catref=1" target="_blank" ><img src="http://www.gadgethelpline.com/wp-content/uploads/2012/09/Ebay-Logo-2012-550x247.jpg" height="120" width="175" alt=""></a></figure>
        <figure><a href="https://www.joyces.ie/" target="_blank" ><img src="http://www.dkmarketing.ie/wp-content/uploads/2014/09/joyces_of_wexford-450x350.png" height="120" width="175" alt=""></a></figure>
        <figure><a href="http://www.iloveshopping.ie/categories/electronics_gadgets/" target="_blank" ><img src="https://previews.123rf.com/images/burakowski/burakowski1201/burakowski120100118/11849401-I-Love-Shopping-icon--Stock-Vector-heart.jpg" height="120" width="175" alt=""></a></figure>
        <figure><a href="https://www.pixmania.ie/" target="_blank" ><img src="https://www.retaildetail.eu/sites/default/files/styles/news/public/news/5c929647c26cba5043d8d1e7352ebc42_XL_0.jpg?itok=JDCos_rn" height="120" width="175" alt=""></a></figure>
        <figure><a href="http://www.maplin.ie/" target="_blank" ><img src="http://lovemiddlesbrough.com/bundles/home/uploads/images/venue/maplin-middlesbrough/maplin_tall.png" height="120" width="175" alt=""></a></figure>
        <figure><a href="http://euronics.ie/" target="_blank" ><img src="http://euronics.ie/themes/euronics-ireland-2016/resources/images/euronics-logo.png" height="120" width="175" alt=""></a></figure>
        <figure><a href="https://www.hsn.com/shop/electronics/ec" target="_blank" ><img src="https://img.hsni.com/images/prod/2014/images/HSN_global_blue.jpg" height="120" width="175" alt=""></a></figure>
        <figure><a href="http://www.elara.ie/" target="_blank" ><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQPOAi_Hx3oyvg3MWPK9E1MoBZ2yRaZqsobusuXzMcN0Y-m1LZcXg" height="120" width="175" alt=""></a></figure>
  		</div>
  	</div>
