<!--hide alerts-->
<script>
$(document).ready(function(){
  $('div.alert').delay(2000).fadeOut(1000);
});
</script>

<% if !signed_in? %>
    <h1>Sign in to see the message :)</h1>
<% end %>


<% if signed_in? %>
  <h1>Hello</h1>
  <h1>getting started</h1>
<% end %>
