$navbar-default-bg: #e8e2ce;

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
	max-width: 100%;
	overflow-x: hidden;
}


@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html, body {
  font-family: 'Lato', serif;
}
//nav bar new
.navbar-default {
  font-size: 1.15em;
  font-weight: 400;
  background-color: #006b96;
  padding: 10px;
  border: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #cbf0ff;
}

.navbar-default .navbar-brand {
  color: #002433;
}

.navbar-default .navbar-brand:hover {
  color: #ffffff;
  text-shadow: 1px -1px 8px #b3e9ff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #004059;
  color: white;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #002433;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.dropdown-menu {
  background-color: #004059;
  color: white;
  border: 0px;
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-menu>li>a {
  background-color: #004059;
  color: white;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #004059;
  color:white;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #003246;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
}

@media (max-width: 767px) {
  .dropdown-menu>li>a {
    background-color: #006b96;
    color: #ffffff;
  }
  .dropdown-menu>li>a:hover {
    color: #ffffff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #ffffff;
    background-color: transparent;
  }

  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #005577;
  }
}

.jumbotron {
	background-image: asset-url('homepic.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height:  550px;
}
.jumbotron1 {
	background-color: #FBF6D9;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 490px;
	border-radius: 20px;
}
.jumbotron h1 {
	color: white;
	text-align: justify;
	font-size: 40px;
	font-family: Helvetica;
	margin-bottom: 30px;
	letter-spacing: 0px;
	font-weight: italic;
}
.jumbotron a{
	background-color: black;
	position: relative;
	bottom: -280px;
	display:inline-block;
	border: none;
}
.product-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
	text-align: center;
}
.product-title {
	border: none;
	font-weight: bold;
	font-size: 1.5em;

}
.product-title :hover {
	 text-decoration:none;
	 background-color: inherit;
	 color: black;
	}
.product-title :visited {
    text-decoration: none;
    decoration: none;
    color: inherit;
}
.product-body {
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
 }
 .center {
	text-align: center;
}
 .listing {
	 list-style: none;
	 padding-left: 0;
 }
 .well {
	 background-color: #e8e2ce;
 }
 .well_categories {
 	 background-color: #b7b187;
 }
 .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    	color: white;
    	background-color: #b7b187 ;
    	border: none;
}
.btn-danger, .btn-danger:hover, .btn-danger-:active, .btn-danger:visited {
	color: white;
	background-color: #777149;
	border: none;
}
.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
	color: white;
	background-color: #777149;
	border: none;

}
 .badge {
	  background-color: #e8e2ce;
	  text-transform: uppercas;
	  letter-spacing: -1px;
	  font-weight: bold;
	  color: black;
 }
 .badge :hover {
	  background-color: #e8e2ce;
	 color: black;
 }
 .input_checkbox input {
	 width: auto !important;
}
.cont {
	overflow: visible;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: justify;
}
#contPic {
	overflow: visible;
	overflow-y: hidden;
	overflow-x: hidden;
	width:300px ;
	height: 200px;
	border: none;
	margin: -10px;
}
.img-thumbnail {
	border: none;
	margin-left: 50px;
}
//footer
.full {
    width: 100%;
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	 background: #EDEFF1;
	 position: relative;
	 margin-top: 70px;
	// position:fixed;
	// margin-top: 50px;
	// padding-top: 10px;
	// padding-bottom: 2px;
  bottom:0;
  left:0;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
	// margin-top: 45px;
	// padding-top: 5px;
}
.footer p {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 2px;
}
.footer img {
	max-width: 100%;
	padding-bottom: 2px;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	// padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	padding-bottom: 2px;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	// padding: 5px 5px 5px 5px;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

//end fotter
.beta{
  background:#663300;
  padding: 2px 5px;
  font-weight: bold;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
