<div class="navbar-form navbar-left">
	<div class="form-group">
          <%= form_tag(search_path, method: :get) do %>
          <%= text_field_tag(:query, params[:query], class: "form-control", placeholder: "Search products") %>
    </div>
    	<%= submit_tag "Search", class: "btn btn-defualt" %>
    	<% end %>
</div>
