<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6 ">
                    <h3> Social media </h3>
                    <ul>
                        <li> <a href="https://twitter.com/?lang=en"> Twitter </a> </li>
                        <li> <a href="https://facebook.com/"> Facebook </a> </li>
                        <li> <a href="https://youtube.com/"> Youtube </a> </li>
                        <li> <a href="https://ie.linkedin.com/"> Linkedin </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Electronics</h3>
                    <ul>
                        <li> <a href="https://www.amazon.co.uk/s/ref=nb_sb_noss?url=search-alias%3Delectronics&field-keywords="> Amazon </a> </li>
                        <li> <a href="http://www.apple.com/"> Apple </a> </li>
                        <li> <a href="https://github.com/Abdul505"> my Github </a> </li>
                        <li> <a href="http://www.ebay.ie/sch/Computers-Tablets-Networking/58058/bn_1838792/i.html?_catref=1"> ebay </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Designer </h3>
                    <ul>
                        <li> <a> Abdulrahman A</a> </li>
                        <li> <a> D12125625 </a> </li>
                        <li> <a> Ireland </a> </li>
                        <li> <a> Final year </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> College </h3>
                    <ul>
                        <li> <a> Paddy M</a> </li>
                        <li> <a> DIT </a> </li>
                        <li> <a> Software Pattern </a> </li>
                        <li> <a> 16 April 2017 </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pull-right">
                    <h3> Contact us </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> Abdulrahman Alghamdi <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                        <li> <a> +3538300000000 </a> </li>
                        <li> <a> Copyright © Footer 2017. All right reserved. </a> </li>

                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->
</footer>
